.App {
  text-align: center;
}


.playerinfo-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  margin-right: 30px;
  margin-bottom: 30px;
}
.header {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  height: 80px;
  align-items: center;
  flex-direction: column;
  
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
